.id-main-container {
    text-decoration: none;
    color: black;
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.id-main-container.cartScreen {
    padding: 2%;
    justify-content: space-around;
    margin: 5% 0;
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0.1);
    border-radius: 15px;
}

/* IMAGE */
.id-img-icon-div {
    position: absolute;
    border-radius: 50%;
    padding: 2%;
    display: flex;
    left: 5%;
    top: 12%;
    justify-content: center;
    align-items: center;
    opacity: 50%;
    background-color: rgb(85, 85, 85);
}

.fa-regular.fa-heart.detail {
    color: white;
    font-size: 22px;
}

.id-img-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.id-img {
    width: 95%;
}


/* INFO */
.id-info-div {
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.id-info-inner-div {
    width: 100%;
}

.id-info-inner-div.muscle {
    border-top: 1px solid gray;
}

.id-info-inner-div.description {
    border-top: 1px solid gray;
}

.id-info-inner-div.price {
    border-top: 1px solid gray;
}

.id-info-content.name {
    font-size: 28px;
    margin: 0;
}

.id-info-content.muscle.title {
    margin: 5% 0 2%;
    font-size: 20px;
}

.id-info-content.muscle.content {
    font-size: 18px;
    margin: 0;
}

.id-info-content.description.title {
    margin: 5% 0 2%;
    font-size: 20px;
}

.id-info-content.description.content {
    font-size: 18px;
    margin: 0;
}

.id-info-content.price {
    margin: 5% 0;
    font-size: 30px;
}

/* BUTTONS */
.id-info-inner-div.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.id-button {
    margin: 0%;
    height: 2rem;
    font-size: larger;
    border: none;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    border-radius: 5px;
    color: white;
}

.id-button:hover {
    box-shadow: 3px 3px 15px 4px rgba(0, 0, 0, 0.6);
    transform: translateY(-3px);
}

.id-button.buy {
    width: 50%;
    background-color: rgb(88, 86, 86);
}

/* Action Cart */
.id-actions-buttons-div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.id-actions-cart-div {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.id-action-cart-button-div {
    height: fit-content;
    border: 1px solid #4F709C;
    padding: 0;
    width: 30%;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.id-action-cart-button {
    margin: 0;
    width: 40%;
    font-weight: 200;
    color: white;
    height: 100%;
    background-color: #4F709C;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.id-action-cart-button i {
    font-size: 14px;
}

.id-action-cart-button:hover i {
    transform: scale(1.1);
}

.id-action-cart-counter {
    margin: 0;
}



@media (min-width: 724px) {
    .id-main-container {
        flex-direction: row;
        margin-top: 2%;
        box-shadow: 0px 0px 10px 2px rgb(0, 0, 0.1);
        border-radius: 15px;
    }
.id-main-container.cartScreen {
    height: 20em;
}

    .id-img-icon-div {
        left: 13%;
        top: 15%;
        padding: 1%;
    }
    .id-img-div{
        width: 50%;
    }
    .id-img-div.cartScreen{
        height: 100%;
        width: auto;
    }
    .id-img.cartScreen {
        height: 100%;
        width: auto;
    }

    .id-info-div {
        width: 50%;
        height: 30em;
        justify-content: space-between;
    }
    .id-info-div.cartScreen{
        height: 100%;
    }

    .id-info-content.muscle {
        font-size: 20px;
    }
}