.cs-component {
    width: 90%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cs-items-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cs-control-div {
    position: sticky;
    bottom: 5%;
    background-color: grey;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cs-control-price {
    width: 100%;
    color: white;
    padding: 1%;
    font-size: 26px;
}

.cs-control-button {
    width: 60%;
    height: 2rem;
    margin: 2% 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.cs-empty-cart{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cs-control-button.clear {
    background-color: rgb(129, 93, 93);
    border: 1px solid rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    transition: all 0.3s;
}

.cs-control-button.clear:hover {
    transform: scale(1.1);
    background-color: rgb(255, 0, 0);
    color: white;
}

.cs-control-button.buy {
    background-color: rgba(86, 86, 182, 0.593);
    border: 1px solid rgb(0, 64, 255);
    color: rgb(0, 64, 255);
    transition: all 0.5s;
    margin-bottom: 6%;
}

.cs-control-button.buy:hover {
    transform: scale(1.1);
    background-color: rgb(0, 64, 255);
    color: white;
}

@media (min-width: 724px) {
    .cs-component {
        width: 80%;
    }
   
    .cs-control-div {
        flex-direction: row;
    }

    .cs-control-price {
        width: 30%;
    }

    .cs-control-button {
        width: 20%;
        margin: 0 5%;
    }
.cs-control-button.buy{
    margin-bottom: 0%;

}
}
/* @media (min-width: 1024px) {
    .cs-items-div{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
} */