.bms-component {
    display: none;
}

@media (min-width: 724px) {
    .bms-component {
        position: fixed;
        top: 10%;
        margin: 1% 0;
        width: 80%;
        height: 2rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .bms-muscle-div {
        border-right: 1px solid black;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #D8C4B6;
        cursor: pointer;
    }
    .bms-muscle-div-clicked {
        border-right: 1px solid black;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: gray;
        color: white;
        cursor: pointer;
    }
    .bms-muscle-div:hover {
        background-color: #dbd3c8;
    }
    .bms-muscle-div-clicked:hover {
        background-color: #494848;
    }

    .bms-muscle-div.calves {
        border: none;
    }
    .bms-muscle-div-clicked.calves {
        border: none;
    }
}