*{
  box-sizing: border-box;
}

.App{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.loader{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader.home{
  height: 400px
}
